<launch>
    <param name="/camera/image/compressed/jpeg_quality" value="7" />

    <node type="aqi_node.py" name="aqi" pkg="sensorbox" />
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <!-- Start the RTSP server -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="Image2RTSPNodelet" args="load image2rtsp/Image2RTSPNodelet standalone_nodelet" output="screen">
        <!-- Read the stream setup file -->
        <rosparam command="load" file="$(find sensorbox)/config/stream_setup.yaml" />
    </node>
</launch>