<launch>
    <!-- <param name="/camera/image/compressed/jpeg_quality" value="7" /> -->

    <node type="aqi_node.py" name="aqi" pkg="sensorbox" />
    <node type="traffic_counter.py" name="counter" pkg="sensorbox" />

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
</launch>