 -r sbx_ws/src/mission_control/requirements.txt
Cython
Flask
Jinja2
Pillow
Sphinx
attrs
cryptography
distro
docutils
future
genpy
keyring
numpy
opencv-python
packaging
pip
pyparsing
pyserial
requests
setuptools
tornado
wheel
zipp